flow.json
[
    {
        "id": "f013711efc47a478",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a3f0328c064b5b9",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9671c82af601ca69",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "home",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "4b999eb1b4b313a9",
        "type": "mqtt in",
        "z": "f013711efc47a478",
        "name": "",
        "topic": "devices/+/sensors/status",
        "qos": "2",
        "datatype": "json",
        "broker": "5a3f0328c064b5b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "b7ec2075f69af572",
                "c79e4eb3aa477bb5"
            ]
        ]
    },
    {
        "id": "8f5eaed2e99e470c",
        "type": "influxdb out",
        "z": "f013711efc47a478",
        "influxdb": "9671c82af601ca69",
        "name": "influx measurement temp",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "b7ec2075f69af572",
        "type": "function",
        "z": "f013711efc47a478",
        "name": "to influx temp measurement",
        "func": "// extract room from topic \"devices/<room>/sensors/status\";\nconst room = msg.topic.split(\"/\")[1]\n\n// convert message to influx tmp measurement\nconst newMsg = {\n    payload : [{\n        value: msg.payload.temperature\n    },\n    {\n        device_id: msg.payload.device_id,\n        room\n    }]\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 400,
        "wires": [
            [
                "8f5eaed2e99e470c"
            ]
        ]
    },
    {
        "id": "32a10a8b871821b8",
        "type": "influxdb out",
        "z": "f013711efc47a478",
        "influxdb": "9671c82af601ca69",
        "name": "influx humidity temp",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1020,
        "y": 480,
        "wires": []
    },
    {
        "id": "c79e4eb3aa477bb5",
        "type": "function",
        "z": "f013711efc47a478",
        "name": "to influx humidity measurement",
        "func": "// extract room from topic \"devices/<room>/sensors/status\";\nconst room = msg.topic.split(\"/\")[1]\n\n// convert message to influx tmp measurement\nconst newMsg = {\n    payload: [{\n        value: msg.payload.humidity\n    },\n    {\n        device_id: msg.payload.device_id,\n        room\n    }]\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 480,
        "wires": [
            [
                "32a10a8b871821b8"
            ]
        ]
    }
]