flow.json
[
    {
        "id": "f013711efc47a478",
        "type": "tab",
        "label": "Environment Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1560368ebc12f603",
        "type": "tab",
        "label": "Light Switches",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a3f0328c064b5b9",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9671c82af601ca69",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "home",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "4b999eb1b4b313a9",
        "type": "mqtt in",
        "z": "f013711efc47a478",
        "name": "",
        "topic": "devices/+/sensors/status",
        "qos": "2",
        "datatype": "json",
        "broker": "5a3f0328c064b5b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "b7ec2075f69af572",
                "c79e4eb3aa477bb5"
            ]
        ]
    },
    {
        "id": "8f5eaed2e99e470c",
        "type": "influxdb out",
        "z": "f013711efc47a478",
        "influxdb": "9671c82af601ca69",
        "name": "influx measurement temp",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "b7ec2075f69af572",
        "type": "function",
        "z": "f013711efc47a478",
        "name": "to influx temp measurement",
        "func": "// extract room from topic \"devices/<room>/sensors/status\";\nconst room = msg.topic.split(\"/\")[1]\n\n// convert message to influx tmp measurement\nconst newMsg = {\n    payload : [{\n        value: msg.payload.temperature\n    },\n    {\n        device_id: msg.payload.device_id,\n        room\n    }]\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 400,
        "wires": [
            [
                "8f5eaed2e99e470c"
            ]
        ]
    },
    {
        "id": "32a10a8b871821b8",
        "type": "influxdb out",
        "z": "f013711efc47a478",
        "influxdb": "9671c82af601ca69",
        "name": "influx measurement humidity",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 960,
        "y": 480,
        "wires": []
    },
    {
        "id": "c79e4eb3aa477bb5",
        "type": "function",
        "z": "f013711efc47a478",
        "name": "to influx humidity measurement",
        "func": "// extract room from topic \"devices/<room>/sensors/status\";\nconst room = msg.topic.split(\"/\")[1]\n\n// convert message to influx tmp measurement\nconst newMsg = {\n    payload: [{\n        value: msg.payload.humidity\n    },\n    {\n        device_id: msg.payload.device_id,\n        room\n    }]\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 480,
        "wires": [
            [
                "32a10a8b871821b8"
            ]
        ]
    },
    {
        "id": "40337fea82c24c35",
        "type": "debug",
        "z": "f013711efc47a478",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "76f048cd0956fc48",
        "type": "mqtt in",
        "z": "f013711efc47a478",
        "name": "",
        "topic": "devices/livingroom/sensors/status",
        "qos": "2",
        "datatype": "json",
        "broker": "5a3f0328c064b5b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "40337fea82c24c35"
            ]
        ]
    },
    {
        "id": "72c1c625252260e8",
        "type": "mqtt in",
        "z": "1560368ebc12f603",
        "name": "",
        "topic": "shellies/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5a3f0328c064b5b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fa509de288b3426b",
        "type": "mqtt out",
        "z": "1560368ebc12f603",
        "name": "diningroom-light-command",
        "topic": "shellies/shelly1-C45BBE4744D5/relay/0/command",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a3f0328c064b5b9",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "0bd5c208cb9f79d5",
        "type": "inject",
        "z": "1560368ebc12f603",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "fa509de288b3426b"
            ]
        ]
    },
    {
        "id": "1e6e9b52dfb05244",
        "type": "inject",
        "z": "1560368ebc12f603",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "fa509de288b3426b"
            ]
        ]
    },
    {
        "id": "26bbb37e9f602388",
        "type": "mqtt in",
        "z": "1560368ebc12f603",
        "name": "diningroom-light-status",
        "topic": "shellies/shelly1-C45BBE4744D5/relay/0",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "5a3f0328c064b5b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "447fede174abbba7",
        "type": "debug",
        "z": "1560368ebc12f603",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 480,
        "wires": []
    }
]