flow.json
[
    {
        "id": "f013711efc47a478",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a3f0328c064b5b9",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9671c82af601ca69",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "home",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "4b999eb1b4b313a9",
        "type": "mqtt in",
        "z": "f013711efc47a478",
        "name": "",
        "topic": "sensors/livingroom/status",
        "qos": "1",
        "datatype": "json",
        "broker": "5a3f0328c064b5b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "617a73f9ca71c73a",
                "85a23b6b2a5f24b1"
            ]
        ]
    },
    {
        "id": "617a73f9ca71c73a",
        "type": "debug",
        "z": "f013711efc47a478",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "8f5eaed2e99e470c",
        "type": "influxdb out",
        "z": "f013711efc47a478",
        "influxdb": "9671c82af601ca69",
        "name": "influx temp measurement",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "85a23b6b2a5f24b1",
        "type": "function",
        "z": "f013711efc47a478",
        "name": "to temp measurement",
        "func": "// convert message to influx tmp measurement\nlet newMsg = {\n    payload : [{\n        value: msg.payload.temperature\n    },\n    {\n        sensor_id: msg.payload.client_id,\n        room: \"livingroom\"\n    }]\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 500,
        "wires": [
            [
                "83e1b959fc3b8e11"
            ]
        ]
    },
    {
        "id": "83e1b959fc3b8e11",
        "type": "debug",
        "z": "f013711efc47a478",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 540,
        "wires": []
    }
]